.energy-popup {
  font-size: 'Open Sans';
  &_measurement {
    margin-top: 15px;
    table {
      margin: 0 auto;
    }
    th {
      padding: 2px 10px;
      border-radius: 4px;
    }
    tr {
      background-color: #f4f4f4;
    }
    td {
      padding: 2px 10px;
      border-radius: 4px;
    }
  }
  &_title {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
    color: #555;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  &_unit {
    font-size: 10px;
    margin-left: 5px;
  }
  &_sensor-alert {
    text-align: center;
  }
}

.energy-popup {
  top: 10px !important;
}

.energy-tooltip {
  font-size: 'Open Sans';
  background: rgb(230, 229, 229) !important;
  border-color: rgba(77, 77, 77, 1) !important;
  &::before {
    border-top-color: rgba(77, 77, 77, 1) !important;
  }
  .value {
    font-size: 14px;
    font-weight: 700;
  }
  .unit {
    font-size: 12px;
    font-weight: 400;
    margin-left: 3px;
  }
}
