.monitoring-popup {
  font-size: 'Open Sans';
  &_measurement {
    margin-top: 15px;
    table {
      margin: 0 auto;
    }
    th {
      padding: 2px 10px;
      border-radius: 4px;
    }
    tr {
      background-color: #f4f4f4;
    }
    td {
      padding: 2px 10px;
      border-radius: 4px;
    }
  }
  &_title {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
    color: #555;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  &_unit {
    font-size: 10px;
    margin-left: 5px;
  }
  &_sensor-alert {
    text-align: center;
  }
}

.monitoring-popup {
  top: 0px !important;
}
