.pump-icon-container {
  display: flex !important;
  &.boost {
    flex-direction: column-reverse;
  }
  &.elevation {
    align-items: center;
    .pump-pipe {
      margin-top: 0px;
      margin-left: -1px;
      width: 100%;
      min-width: 10px;
      min-height: 4px;
      height: 4px;
    }
    .pump-node {
      margin-top: 0px;
    }
    .pump-station {
      margin-left: -1px;
    }
  }
  &.none {
    flex-direction: column;
  }
  .pump-station {
    border-radius: 10px;
    background: rgb(230, 229, 229);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pumps-container {
      display: flex;
      gap: 3px;
      padding: 3px;
      .pump {
        width: 16px;
        min-width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid rgb(178, 178, 178);
        color: #fff;
        font-size: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5;
      }
    }
    .pump-station-flow {
      padding: 0 5px 2px 5px;
      font-size: 12px;
      font-weight: 700;
      white-space: nowrap;
      text-align: center;
      line-height: 1.2;
      margin-top: -2px;
      font-family: 'Open Sans', sans-serif;
      span {
        font-size: 9px;
        margin-left: 3px;
      }
    }
  }
  .pump-pipe {
    margin: 0 auto;
    margin-top: -1px;
    width: 4px;
    min-height: 10px;
    flex-shrink: 1;
    background-color: rgb(178, 178, 178);
  }
  .pump-node {
    margin: 0 auto;
    margin-top: -1px;
    width: 12px;
    min-height: 12px;
    border-radius: 50%;
    border: 2px solid rgb(178, 178, 178);
    flex-shrink: 0;
  }
}

.pump-popup {
  font-family: 'Open Sans', sans-serif;
  &.none {
    &.withflow {
      top: 72px !important;
    }
    top: 57px !important;
  }
  &.elevation {
    &.withflow {
      top: 36px !important;
    }
    top: 30px !important;
  }
  &.boost {
    &.withflow {
      top: 0px !important;
    }
    top: 0px !important;
  }
  /*  top: 65px !important; */

  .leaflet-popup-content {
    overflow: hidden;
  }
  .leaflet-popup-content-wrapper {
    overflow: hidden;
  }

  &_name {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.5;
    white-space: nowrap;
    color: #555;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  &_station {
    margin-bottom: 15px;
    table {
      padding-left: 10px;
    }
  }

  &_title {
    font-size: 12px;
    font-weight: 700;
    color: #777;
    margin-bottom: 5px;
    display: block;
  }

  &_unit {
    font-size: 10px;
    margin-left: 5px;
  }

  &_sensor-alert {
    padding-left: 10px;
  }

  &_pumps {
    padding-right: 10px;
  }

  &_pump-number {
    width: 22px;
    min-width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid rgb(178, 178, 178);
    background: rgb(178, 178, 178);
    text-align: center;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: 700;
  }

  &_single-pump {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    margin-left: 10px;
    border-bottom: 2px solid rgb(178, 178, 178);
    &:last-child {
      border: none;
    }
  }

  &_station,
  &_single-pump {
    th {
      padding: 2px 10px;
      border-radius: 4px;
    }
    tr {
      background-color: #f4f4f4;
    }
    td {
      padding: 2px 10px;
      border-radius: 4px;
    }
  }
}
