.pump-icon-container {
  .pump-station {
    border-radius: 10px;
    background: rgb(230, 229, 229);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pumps-container {
      display: flex;
      gap: 3px;
      padding: 3px;
      .pump {
        width: 16px;
        min-width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid rgb(178, 178, 178);
        color: #fff;
        font-size: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5;
      }
    }
    .pump-station-flow {
      //margin-top: 5px;

      padding: 0 3px;
      font-size: 12px;
      font-weight: 700;
      white-space: nowrap;
      text-align: center;
      span {
        font-size: 8px;
      }
    }
    .pump-popup {
      display: none;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%, 0);
      background: rgb(249, 248, 248);
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      border: 2px solid #555;
      border-radius: 5px;
      padding: 10px;
      white-space: nowrap;
      &.open {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }
      &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 8px solid #555;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: -8px;
        //box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
      }
    }
  }
  .pump-pipe {
    margin: 0 auto;
    margin-top: -1px;
    width: 5px;
    min-height: 10px;
    border: 1px solid rgb(178, 178, 178);
  }
  .pump-node {
    margin: 0 auto;
    margin-top: -1px;
    width: 12px;
    min-height: 12px;
    border-radius: 50%;
    border: 2px solid rgb(178, 178, 178);
  }
  /* .pump-station:hover {
  scale: 1.5;
} */
}

.pump-popup {
  .leaflet-popup-content {
    overflow: hidden;
    // padding: 0px;
  }
  .leaflet-popup-content-wrapper {
    //border: 2px solid #555;
    overflow: hidden;
  }
  .leaflet-popup-close-button {
    //color:#fff;
  }
  .pump_station_name {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.5;
    // padding: 15px 20px 5px 5px;
    // background: rgb(230, 229, 229);
    white-space: nowrap;
    color: #555;
    //color: rgb(77, 77, 77);
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  .pump-popup_station {
    margin-bottom: 15px;
    th {
      padding: 2px 10px;
    }
    tr:nth-child(odd) {
      background-color: #f4f4f4;
    }
    td {
      padding: 2px 10px;
    }
  }
  &_title {
    font-size: 12px;
    font-weight: 700;
    color: #777;
    margin-bottom: 5px;
    display: block;
  }
  &_unit {
    font-size: 10px;
  }
  &_number {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(178, 178, 178);
    background: rgb(178, 178, 178);
    text-align: center;
    color: #fff;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  &_single-pump {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    padding-left: 10px;
    &:nth-child(even) {
      background-color: #f4f4f4;
    }
    td {
      padding-left: 10px;
    }
  }
}
