@mixin pipe {
  margin: 0 auto;
  width: 4px;
  min-height: 10px;
  background: rgb(178, 178, 178);
}

@mixin node {
  margin: 0 auto;
  width: 12px;
  min-height: 12px;
  border-radius: 50%;
  border: 2px solid rgb(178, 178, 178);
  background: rgb(8, 94, 141);
}

@mixin flex($direction, $justify, $align, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
